<div class="body">  
    <div *ngIf="WeatherData.isDay"  class="weatherRow">
        <i class="fa fa-sun-o sun" aria-hidden="true"> </i>
    </div> 
    <div *ngIf="!WeatherData.isDay" class="weatherRow">
        <i class="fa fa-moon-o moon" aria-hidden="true"></i> 
    </div>
    <div class="weatherRow cloudDiv">
        <i class="fa fa-cloud cloud" aria-hidden="true"></i>
    </div>
    <div class="weatherRow" class="style">{{WeatherData.temperature_celsius}}*C</div>
    <div class="weatherRow" class="row">{{WeatherData.temperature_max}}*C/{{WeatherData.temperature_min}}*C</div>
    <div class="weatherRow" class="row">Feels Like:{{WeatherData.temp_feels_like}}*C</div>
    <div class="weatherRow" class="r">{{WeatherData.name}}</div>  
    <div class="weatherRow" class="r">Humidity {{WeatherData.main.humidity}}%</div>
</div>

